.App {
  text-align: center;
}

main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#msk {
  font-size: xx-large;
}

#result {
  font-size: xx-large
}

input[type=text] {
  padding: 8 20px;
  margin: 8px 0;
  width: 100px;
  font-size: calc(10px + 2vmin);
}

#ingredientSelect {
  padding: 8 20px;
  margin: 8px 0;
  width: 200;
  font-size: calc(10px + 2vmin);

}